.ExerciseNew_Lateral_Spaces{
    margin-right: 100px !important;
    margin-left: 100px !important;
}
.ExerciseNew_Card_Space{
    margin-top: 180px;
}
.ExerciseNew_Form_Space{
    margin-top: 140px;
}